#--- uv ---

# Ignore the default virtual environment directory created by uv

# Note: do not ignore uv.lock, it should be committed!

.venv/

#--- Python General ---

# Bytecode and cache

pycache/
*.py[cod]
*.pyo

# C extensions

*.so

# Build and distribution artifacts

build/
dist/
sdist/
wheelhouse/
*.egg-info/
*.egg

# --- Tests ---

.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
outputs/
.vscode/
__pycache__/

# --- Secrets and configuration ---

# Ignore local environment variable files

.env
*.env

#--- IDE & Editor ---

#JetBrains / PyCharm

.idea/

# VS Code (a common compromise that allows sharing settings)

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

#--- OS Specific ---

macOS

.DS_Store

Windows

Thumbs.db

*.wav
*.pkf